@font-face{
	font-family: SegoeReg;
	src: url('../res/segoeui.ttf');
}

@font-face{
	font-family: SegoeSB;
	src: url('../res/seguisb.ttf');
}

@font-face{
	font-family: SegoeBI;
	src: url('../res/segoeuiz.ttf');
}

body{
	font-family: SegoeReg;
	font-size:18px;
	background-color:#CCC;
	color:#333;
}

a:hover{
	color:gray;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(128,128,128,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

header{
	margin-left:40px;
}

#nav{
	float:right;
	height:100px;
	width:50%;
	overflow-y:scroll;
}

#title{
	font-family:SegoeBI;
	font-size:100px;
}

#menu{
	font-family:SegoeSB;
	font-size:80px;
}

.load{
	padding:10px;
	width:75%;
	height:100%;
	margin:0 auto 0 auto;
	background-color:rgba(0, 0, 0, 0.0);
	background-size:auto;
}

.scrollable{
	height:auto;
}

@-webkit-keyframes roadScroll{
	from{
		left:0%;
	}
	to{
		-webkit-transform: translate(-1000px, 0px);
	}
}

#road{
	margin: 1% auto 10px -10px;
	background-image:url('../res/road.jpg');
	background-size:contain;
	height:200px;
	width:400%;
	background-repeat: repeat-x;
	-webkit-animation:roadScroll 3s linear infinite;
	-webkit-animation-play-state:running;
}

.load{
	overflow:hidden;
}

#running-man{
	position:relative;
	top:-140px;
	left:38%;
	height:102.4px;
	width:85.33333px;
	background-image:url('../res/runner.png');
	-webkit-animation:sprite 0.7s steps(1) infinite;
	-webkit-animation-play-state:running;
}

@-webkit-keyframes sprite{
	0%{background-position:0px 0px;}
	3.33%{background-position:-85.33px 0px;}
	6.66%{background-position:-170.66px 0px;}
	9.99%{background-position:-255.99px 0px;}
	13.32%{background-position:-341.32px 0px;}
	16.65%{background-position:-426.65px 0px;}
	19.98%{background-position:0px -102.4px;}
	23.31%{background-position:-85.33px -102.4px;}
	26.64%{background-position:-170.66px -102.4px;}
	29.97%{background-position:-255.99px -102.4px;}
	33.3%{background-position:-341.32px -102.4px;}
	36.63%{background-position:-426.65px -102.4px;}
	39.96%{background-position:0px -204.8px;}
	43.29%{background-position:-85.33px -204.8px;}
	46.62%{background-position:-170.66px -204.8px;}
	49.95%{background-position:-255.99px -204.8px;}
	53.28%{background-position:-341.32px -204.8px;}
	56.61%{background-position:-426.65px -204.8px;}
	59.94%{background-position:0px -307.2px;}
	63.27%{background-position:-85.33px -307.2px;}
	66.6%{background-position:-170.66px -307.2px;}
	69.93%{background-position:-255.99px -307.2px;}
	73.26%{background-position:-341.32px -307.2px;}
	76.59%{background-position:-426.65px -307.2px;}
	79.92%{background-position:0px -409.6px;}
	83.25%{background-position:-85.33px -409.6px;}
	86.58%{background-position:-170.66px -409.6px;}
	89.91%{background-position:-255.99px -409.6px;}
	93.24%{background-position:-341.32px -409.6px;}
	96.57%{background-position:-426.65px -409.6px;}
}

hr{
	height:2px;
	background-color:#336;
	border-right:100px;
}

footer{
	width:85px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}