body {
  font-family: monospace;
}

.keycap {
  height: 24px;
  width: 24px;
  background-color: white;
  text-align: center;
  border: solid 1px #8D8D8D;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
}

.keycap:active, .keycap.pseudo-active {
  border-color: #9ecaed;
  box-shadow: 0 0 20px #9ecaed;
  color: #1e67a1;
}

.keycap-shadow:active, .keycap-shadow.pseudo-active {
  background-color: #2B8BD8;
  border-color: #134268;
}

.keycap.fading {
  animation: keycap-glow-fade 1s linear;
}

.keycap-shadow.fading {
  animation: keycap-shadow-glow-fade 1s linear;
}

.bksp, .tab, .alt {
  width: 33px;
}

.capslock, .enter{
  width: 48px;
}

.shift {
  width: 67px;
}

.spacebar {
  width: 204px;
}

.keycap-shadow {
  padding: 0px 1px 4px 1px;
  background-color: #CBCBCB;
  border: solid 1px #565656;
  border-radius: 6px;
  display: inline-block;
  margin: 4px;
}

#keyboard {
  display: inline-block;
  padding: 3px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
}

#keyboard, table{
  border-top: solid 1px #898989;
  border-left: solid 4px #787878;
  border-right: solid 4px #787878;
  border-bottom: solid 8px #565656;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 12px;
}

th, td {
  border: solid 1px #888888;
  border-collapse: collapse;
  padding: 5px;
}

table {
  display: inline-block;
  float: left;
}

@keyframes keycap-glow-fade {
  0% {
    border-color: #9ECAED;
    box-shadow: 0 0 20px #9ECAED;
    color: #1E67A1;
  }
  100% {
    border-color: #8D8D8D;
    box-shadow: 0 0 0 0;
    color: #000000;
  }
}

@keyframes keycap-shadow-glow-fade {
  0% {
    background-color: #2B8BD8;
    border-color: #134268;
  }
  100% {
    background-color: #CBCBCB;
    border-color: #565656;
  }
}

#createjs-badge {
  position: fixed;
  margin-top: 250px;
  margin-left: 12px;
}
